/* landing.module.css */

.dark-mode {
    background-color: #091122;
}

.dark-mode .pg {
    color: rgb(181, 180, 180);
}

.dark-mode .link-dark {
    color: #fac651;
    border-bottom: #fac651;
}

.dark-mode .spaning {
    color: #1c64f2;
}

.titleh1 {
    color: #162e55; /* Default color */
}

.titleh1Dark {
    color: white; /* Dark mode color */
}

.spaning {
    color: #fac651; /* Default color */
}

.spaningDark {
    color: #1c64f2; /* Dark mode color */
}

.bg-error {
    background-image: url('https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/6217a5a3d58471ba1344c804_21-modern-small-business-website-examples.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
