@media (max-width: 428px) {
    .friend {
        flex-direction: column;
        width: 350vw;
        justify-content: start;
        align-items: start;
        background-color: white;
    }
    .request {
        width: 65vw !important;

    }
    .inpt {
        padding-right: 10vw;
    }
    .bg-nav {
        background-color: white;
        width: 20vw;
    }
}